
:root{
  /* 主要色系 */
  --darkBlue:#2E3192;   /* 淺藍色 */
  --lightBlue :#D4EBFF; /* 深藍色 */
  --orange:#F47851;     /* 黃橘色 */
  --skin:#FFE7E1;       /* 皮膚色 */

  /* 字重 */
  --fontWeightLight:300;
  --fontWeightMedium:500;
  --fontWeightBold:700;
  
  /*內容顯示的最大寬度*/
  --ViewMaxWidth:1300px;

  /* 待確認是否需要使用 */
  --fontSizeVmin: 4vmin; /* 手機板可視文字的大小百分比 */
  --fontSizeVminPc: 2.8vmin; /* 電腦版可視文字的大小百分比 */
}

*{ 
  /* 太容易被蓋掉，只好加important */
  font-family: 'Noto Sans TC', sans-serif !important;
  font-weight: var(--fontWeightMedium);
}

/* 預設超連結文字為黑色，hover也是 */
a,
a:hover{
  color: black;
}

/* 上面為全站規則 */

/* 抬頭的h系列，拿掉margin-bottom */
.digital .h2,
.subject .h2,
.subject .h6,
.branches .h2,
.branches .h5,
.branches .h6{
  margin-bottom: 0px;
}

/* 限制最大寬度 */
.digital,
.grade,
.testInformation,
.branches{
  max-width: var(--ViewMaxWidth);
  position: relative;
  padding-top: 1rem;
  margin: 0 5%;
  justify-content: center;
}

/* 左上角三角形 */
.subject .gradeTitle::before,
.subject .testInformationTitle::before,
.branches .branchesTitle::before{
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  display: block;
  border-style: solid;
  border-width: 15px;
  border-color: var(--darkBlue) transparent transparent var(--darkBlue);
}
.subject .testInformationTitle::before{
  border-color: var(--orange) transparent transparent var(--orange);
}

/* 抬頭設定 */
.subject .gradeTitle,
.subject .testInformationTitle,
.branches .branchesTitle{
  align-items: flex-end;
  margin: 0 auto;
  padding-top: 2rem;
  color: var(--darkBlue);
}
.subject .testInformationTitle{
  color: var(--orange);
}
/* mark大小 */
.subject .markToSVG img,
.branches .markToSVG img{
  width: 3rem;
}

.newsTicker{
  background: var(--lightBlue);
}

.banner{
  /* background-color: grey;
  height: 100px; */
  margin: 0 auto;
  margin-top: 80px;
}
/* .banner img{ */
  /* background-color: grey;
  height: 100px; */
  /* width: 100%;
  height: auto;
  margin: 0 auto; */
/* } */

/* 曙光據點、服務成果(人數) */
.digital .historyDigital,
.digital .numberOfPeople{
  padding-top: 2rem;
  flex-wrap: nowrap;
}
.digital div{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    color:var(--darkBlue);
}
.digital .since>div,
.digital .salesPoints>div,
.digital .elementary>div,
.digital .juniorHigh>div,
.digital .seniorHigh>div{
    flex-direction: column;
}
.digital .since>div{
    align-items:flex-start;
}
.digital .point{
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  align-self: center;
}
/* 跳動感(錯位) in PC */
@media (min-width:768px) {
  .digital .since,
  .digital .elementary,
  .digital .seniorHigh{
    padding-bottom: 50px;
  }
  .digital .salesPoints,
  .digital .juniorHigh{
    padding-top: 50px;
  }
}
/* 右邊點點的出現時機(PC/mobile) */
.digital .pointPC{ /* 手機版型要隱藏 */
  display: none; 
}
@media (min-width:768px) {
  .digital .pointPC{ /* 電腦版型要顯示 */
      display: flex;
  }    
  .digital .pointMobile{ /* 電腦版型要隱藏 */
      display: none;
  }
}

/* 課程資訊、大考日程 */

/* 輪播圖間距 */
.subject .gradeCarousel a{
  margin: auto 1rem;
  margin-top: 2rem;
  padding: 0;
}
/* 輪播圖文字外框 */
.subject .gradeCarousel .carousel__slide div{
  margin-top: 2rem;
  padding: 10px 0;
  color: var(--darkBlue);
  font-weight: 300;
  border: var(--darkBlue) 2px solid;
  border-radius: 10rem;
  text-align: center;
}
.subject .testInformation .carousel__slide{
  border-radius: 20px 0 20px 20px;
  box-shadow: 2px 2px 4px gray;
  margin: 2rem 1rem;
  padding: 1rem;
  color: var(--orange);
  font-size: 2rem;
}
.subject .testInformation .carousel__slide > div:last-child::after{
  content: "天";
  font-size: 1.5rem;
}
.subject .testInformation .carousel__slide > div:last-child{
  font-size: 3rem;
}
.subject .testInformation .carousel__slide > div{
  text-align: center;
}
.subject .testInformation .carousel__slide > div:first-child::before{
  /* 右上角三角形 */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-style: solid;
  border-width: 15px;
  border-color: var(--orange) var(--orange) transparent transparent;
}
.subject .testDate .name{
  border-bottom: 1px var(--orange) solid;
  padding: 1rem 0;
  font-weight: 700;
}
.subject .testDate .name + div{
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.5rem;
}

/* title格式設定 */
.title{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: var(--fontSizeVmin);
  white-space: pre;
  max-height: 45px;
}
/* 兩邊劃線 */
.title::before,.title::after{ 
  content: "";
  position: relative;
  border-top: 6px double gray;
  width: 50%;
}
@media (min-width:768px) {
  .title{
    font-size: var(--fontSizeVminPc);
  }
}

.branches,
.branches .school a,
.branches .showSchoolPicture i{
  color: var(--darkBlue);
}
.branches .branchesTitle.row{
  justify-content:space-around;
}
.branches .nameCH br{
  display: none;
}
.branches .choose > div{
  justify-content: space-around;
}
.branches .brand{
  margin-top:2.5rem;
}
.branches .brand div{
  font-weight: var(--fontWeightBold);
  color:  var(--darkBlue);
}
.branches .brand > div{
  text-decoration: none;
  background-image: linear-gradient(#00174d, #00174d);
  background-position: left bottom;
  background-size: 0 2.5px;
  background-repeat: no-repeat;
  transition: background-size 0.15s;
}

.branches .school,
.branches .school > div{
  margin: 1rem auto;
  justify-content: space-around;
    
}
.branches .school .col-md > div{
  border: 1px var(--darkBlue) solid;
  border-radius: 20px;
  padding: 0.5rem;
}
.branches .school a > div{
  padding: 0 0.9rem;
}
.branches .showSchoolBranch > div >:last-child{
  margin: 1rem 0.5rem;
}
.branches .showSchoolBranch div[class^=_] > div{
  font-weight: var(--fontWeightLight);
  color: black;
}
.branches .showSchoolBranch div[class^=_] > div::before{
  content: "●";
  color: var(--lightBlue);
  font-size: 0.3rem;
  margin-right: 0.5rem;
}
.branches .showSchoolPicture > div .col-md{
  background: var(--lightBlue);
  text-align: center;
  Letter-spacing: 0.5rem;
}
@media (min-width:768px) {
  .branches .branchesTitle.row{
    flex-direction: column;
    align-items: center;
  }
  .branches .nameCH br{
    display: block;
  }
}


.branches .school > .col-md{
  padding-left: 0;
  padding-right: 0;
}


/* 課程介紹、考情資訊 */
/* .subject a{
  background-color: var(--lightBlue);
  border: 0.3vmin #fff solid;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1%;
  font-size: var(--fontSizeVmin);
  height: 12vmin;
}
@media (min-width:768px) {
  .subject a{
    font-size: var(--fontSizeVminPc);
    height: 9vmin;
  }
} */

/* .testInformation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testInformation .testDate{
  background-color: #81aff4;
  border: 0.3vmin solid white;
  border-radius: 12px;
}

.testInformation .testDate > div{
  color: white;
  font-size: var(--fontSizeVmin);  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width:768px) {
  .testInformation .testDate > div{
    font-size: var(--fontSizeVminPc);
  }
} */

/* 變圓形的設定 */
/* border-radius: 999em;
width: 100%;
height: 0;
padding-top: 50%;
padding-bottom: 50%; */

/* 榜單、影音專區共用 */
/* 會影響其他，另外處理 */
/* body.home .carousel__slide{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* 榜單專區 */
[data-fancybox="indexHonorRolls"]{
  width: 30%;
}
@media (min-width:768px) {
  [data-fancybox="indexHonorRolls"]{
    width: 15%;
  }
}

/* 影音導覽 */
@media (min-width:768px) {
  [data-fancybox="video-gallery"]{
    width: 33%;
  }
}

/* 榜單、影音輪播左右按鈕設定 */
.carousel{
  --carousel-button-bg: var(--darkBlue);
  --carousel-button-width: 36px;
  --carousel-button-height: 36px;
  --carousel-button-svg-stroke-width: 3;
  color: #FFFFFF;
}
.testInformation .carousel{
  --carousel-button-bg: var(--orange);
}

/* ----------video.php start----------*/
.video .content>a{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------video.php end----------*/


/* ----------header.css start----------*/
header{
  /* padding: 1.3rem 1rem 0 1rem; */
  position:fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 80px;
  background-color: white;
  width: 100%;
}
header .navbar{
  padding:1rem 1rem 0 1rem;
}
header .collapse{
  background-color: white;
}

/* 連動footer的logo */
.logo{
  width: 150px;
  margin: auto;
}
@media (max-width:767.98px){ /* 主任要求手機板上方logo要加大 */
  /* .container .logo{
    width: 200px;
  } */
}
@media (min-width:768px){
  /* .logo{
    width: 100px;
  } */
}

/* class=menu為選單 */
header .menu { 
  position: relative;
  /* background:white; */
}

/* 沒用到 */
header .menu .nav-link{ 
  position: relative; 
  font-size: 14px;
  width: 140px;
  float: left;
  padding-right: 5PX;
  /*text-align: center;*/
}

header .nav-a{
  display: block;
  position: relative;
  /* text-decoration:none; */
  font-size: var(--fontSizeVmin);
  color:black;
  line-height:40px;
  font-weight: var(--fontWeightBold);
  padding-left: 5px;
  margin-right: 10px;
}
@media (min-width:992px){
  header .nav-a{
    font-size:2.1vmin;
  }
}
/* (選單)外層黑體，中間適中，下層細體 */
header .dropdown-item{
  font-weight: var(--fontWeightLight);
}
header .dropdown-submenu > .nav-a{
  font-weight: var(--fontWeightMedium);
}

/* ----------header.css end----------*/

/* ----------footer.css start----------*/
footer{
  background-color: var(--lightBlue);
}

footer .logo{
  display: flex;
  margin: 15px auto;
  /* padding: 5px; */
}
@media (min-width:768px) {
  /* footer logo大小差異 */
  /* footer .logo{
    padding: 20px;
  } */
}

.siteMap a{
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: var(--fontSizeVmin);
  color: black;
  margin: 0 10px;
}
.siteMap .footerList a{
  justify-content: flex-start;
  margin: 0 20px;
  font-weight: var(--fontWeightLight);
}
@media (min-width:768px) {
  /* 大螢幕停止任何反應 */
  .siteMap .footer-a{
    pointer-events: none;
  }
  /* 展開所有隱藏項 */
  .siteMap .collapse:not(.show){
    display: block;
  }
  /* 加註顯眼字體 */
  .siteMap .footerList a::before{
    content: "●";
  }
  .siteMap a{
    font-size: var(--fontSizeVminPc);
    margin: 0;
  }
  .siteMap .footerList a{
    font-size: 2vmin;
    margin: 0;}
}
@media (max-width:767.98px) {
  /* 顯示出符號，提示使用人可展開 */
  .siteMap .footer-a.collapsed::after{
    content:"＋";
  }
  /* 展開後轉變符號 */
  .siteMap .footer-a::after{
    content:"－";
  }
  .siteMap a{
    text-decoration:none;
  }
}

footer .footer_new ,
footer .footer_a{
  /* width: 500px;
  padding-left:100px; */
  text-align: center;
  margin-top: 5px;
}

footer .footer_a a{
  height: 34px;
  color: white;
  font-size: 18px;
  text-align: center;
  letter-spacing: 3px;
  background-color: #FFAA32;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
}
/* ----------footer.css end----------*/